In [18]:
import os
import pandas as pd

In [19]:
file = pd.read_json('./data/crypto-watch-data.json')

file

               0      1      2      3      4        5           6
0     1645645200  1.605  1.607  1.605  1.607  4120.03  6619.38799
1     1645645260  1.604  1.604  1.601  1.601  2488.00  3986.68092
2     1645645320  1.603  1.603  1.601  1.601  1811.16  2899.86397
3     1645645380  1.601  1.601  1.595  1.595   228.43   364.44921
4     1645645440  1.593  1.593  1.592  1.592   548.72   874.07321
...          ...    ...    ...    ...    ...      ...         ...
4986  1646015340  1.424  1.424  1.422  1.422   258.94   368.27978
4987  1646015460  1.425  1.425  1.424  1.424   257.43   366.82650
4988  1646015520  1.424  1.424  1.424  1.424   278.49   396.56976
4989  1646015580  1.425  1.425  1.425  1.425   550.51   784.47675
4990  1646015640  1.425  1.425  1.425  1.425     1.00     1.42500

[4991 rows x 7 columns]